@model MaterialazerWeb.Models.Visita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motivo_de_visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo_de_visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_de_visita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_de_visita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_salidaa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_salidaa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto_que_lo_recibio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto_que_lo_recibio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
